{% extends "base.html" %}

{% block head %}
    <link href="{{ STATIC_URL }}fullcalendar-2.1.1/fullcalendar.css" rel="stylesheet" />
    <script src='{{ STATIC_URL }}fullcalendar-2.1.1/lib/moment.min.js'></script>
    <script src='{{ STATIC_URL }}fullcalendar-2.1.1/fullcalendar.js'></script>
    <script src='{{ STATIC_URL }}js/index.js'></script>
    <script type="text/javascript">
        // http://fullcalendar.io/docs/
        // http://fullcalendar.io/docs/event_data/Event_Object
        var calendarEvents = new Array();
        {% for entry in entries %}
        calendarEvents.push({
            title: "{{ entry.action.name }}",
            start: "{{ entry.date_entry|date:"Y-m-d" }}",
            color: "#{{ entry.action.color }}"
        });
        {% endfor %}

        $(document).ready(function() {
            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                firstDay: 1,
                eventTextColor: "#131313",
                events: calendarEvents,
            });
        });    
    </script>
{% endblock %}

{% block body %}
    <p>{{ entry_count }} entries between {{ entry_first.date_entry }} and  {{ entry_most_recent.date_entry }}</p>
    <p>{{ consecutive_entries }} consecutive days with entries! :)</p>

    <div id="calendar"></div>
    <div style="clear:both;"></div>
    <p style="margin-top:20px;"><a href="/admin/main/logentry/add/">New Entry</a></p>
{% endblock %}
