body {
    padding-bottom: 40px;
}

#calendar {
    max-width:500px;
    margin-top:40px;
}

.chart div {
  font: 12px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 4px 10px;
  margin: 6px 0px;
  color: white;
}
