body {
    padding-bottom: 40px;
    background-color: #2a2a2b;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
p, span, div {
    color: rgb(236, 236, 236);
}

.navbar-default {
    background: inherit;
}

a, .navbar-default a, .navbar-default .navbar-brand {
    color: rgb(236, 236, 236); 
}

#calendar {
    max-width:560px;
    margin-top:40px;
}

#charts {
    min-width: 310px; 
    height: 400px; 
    max-width: 600px;
}
